@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

.titulo{
    color:blueviolet;
    font-family: Noto Sans Georgian;
}
body{
    background-color: aqua;
}
a:hover{
    color:brown;
}